.App {
  text-align: center;
}

.nav {
	display:flex;
	justify-content: space-around;
	align-items: center;
	min-height: 10vh;
	background: rgb(73,79,82);
	color: white;
	
}

.bottom {
	display:flex;
	justify-content: space-around;
	align-items: center;
	min-height: 10vh;
	background: rgb(73,79,82);
	color: white;
	position: relative;
	bottom: 0;
	width: 100%;
	height: 50px;
}

.nav-links{
	width: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
}

.nav-responsive-links{
	width: 100%;
	display: flex;
	justify-content: space-around;
	
	list-style: none;
}

.nav-responsive-item-links{
	
	justify-content: space-around;
	margin-left: 30px;
	list-style: none;
}

.scrollbar{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
	position: relative;
}

.scrollbar2{
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding-top: 50px;
	align-items: center;
	list-style: none;
	position: relative;
}